<div class="heading">
  0. Prologue
  <div class="source">
    Emily Dickinson, "I cross till I am weary" (1862)
  </div>
</div>
<div class="verse">
  <div class="line">
    I cross till I am weary
  </div>
  <div class="line">
    A Mountain — in my mind —
  </div>
  <div class="line">
    More Mountains — then a Sea —
  </div>
  <div class="line">
    More Seas — And then
  </div>
  <div class="line">
    A Desert — find —
  </div>
</div>
<div class="verse">
  <div class="line">
    And My Horizon blocks
  </div>
  <div class="line">
    With steady — drifting — Grains
  </div>
  <div class="line">
    Of unconjectured quantity —
  </div>
  <div class="line">
    As Asiatic Rains —
  </div>
</div>
<div class="verse">
  <div class="line">
    Nor this — defeat my Pace —
  </div>
  <div class="line">
    It hinder from the West
  </div>
  <div class="line">
    But as an Enemy's Salute
  </div>
  <div class="line">
    One hurrying to Rest —
  </div>
</div>
<div class="verse">
  <div class="line">
    What merit had the Goal —
  </div>
  <div class="line">
    Except there intervene
  </div>
  <div class="line">
    Faint Doubt — and far Competitor —
  </div>
  <div class="line">
    To jeopardize the Gain?
  </div>
</div>
<div class="verse">
  <div class="line">
    At last — the Grace in sight —
  </div>
  <div class="line">
    I shout unto my feet —
  </div>
  <div class="line">
    I offer them the Whole of Heaven
  </div>
  <div class="line">
    The instant that we meet —
  </div>
</div>
<div class="verse">
  <div class="line">
    They strive — and yet delay —
  </div>
  <div class="line">
    They perish — Do we die —
  </div>
  <div class="line">
    Or is this Death's Experiment —
  </div>
  <div class="line">
    Reversed — in Victory?
  </div>
</div>
