<h2>
  1. Mountain
  <div class="source">
    <i>Maps for America</i>, "Glossary of Cartography and Map Terminology" (1988)
  </div>
</h2>
<div class="verse">
  <div class="line">
    Are still an varies
  </div>
  <div class="line">
    A mountain in by minor
  </div>
  <div class="line">
    More mountain such the sea
  </div>
  <div class="line">
    More sea is and and
  </div>
  <div class="line">
    And as or fine
  </div>
</div>
<div class="verse">
  <div class="line">
    And minor rise and part
  </div>
  <div class="line">
    Part and aids to to the terrain
  </div>
  <div class="line">
    Is of an conjunction quantities
  </div>
  <div class="line">
    As a geologic ranges
  </div>
</div>
<div class="verse">
  <div class="line">
    North as to the mark carries
  </div>
  <div class="line">
    And of from the west
  </div>
  <div class="line">
    But as an arm in the so limits
  </div>
  <div class="line">
    One are into routes to
  </div>
</div>
<div class="verse">
  <div class="line">
    Water at the called
  </div>
  <div class="line">
    Extent to their interval means
  </div>
  <div class="line">
    Chain to routes and for comparison
  </div>
  <div class="line">
    Project or data studying and?
  </div>
</div>
<div class="verse">
  <div class="line">
    At class to the gradations side
  </div>
  <div class="line">
    Measure outer onto mile the
  </div>
  <div class="line">
    By are further in the whole of have and
  </div>
  <div class="line">
    The density between made
  </div>
</div>
<div class="verse">
  <div class="line">
    Base chart and object to lengths
  </div>
  <div class="line">
    The direction to regard
  </div>
  <div class="line">
    Or is the steps exposure
  </div>
  <div class="line">
    And reversed in picture in?
  </div>
</div>
