<div class="heading">
  2. Grains
  <div class="source">
    Marion Harris Neil, <i>A Calendar of Dinners, with 615 recipes</i> (1922)
  </div>
</div>
<div class="verse">
  <div class="line">
    Crust shell and berries
  </div>
  <div class="line">
    Amount and in wire minus
  </div>
  <div class="line">
    More mound and stir then add seeds
  </div>
  <div class="line">
    More seeds and then
  </div>
  <div class="line">
    A gas or fine
  </div>
</div>
<div class="verse">
  <div class="line">
    And let rise until ox
  </div>
  <div class="line">
    Ways then these chicken grains
  </div>
  <div class="line">
    Of on tinge enters quantity
  </div>
  <div class="line">
    As occasion add to grains
  </div>
</div>
<div class="verse">
  <div class="line">
    Nor this to feet light paste
  </div>
  <div class="line">
    Tender from the waxed
  </div>
  <div class="line">
    But as anatomy is so lid
  </div>
  <div class="line">
    One are into rest
  </div>
</div>
<div class="verse">
  <div class="line">
    Water and have the cold
  </div>
  <div class="line">
    Except very injure beans
  </div>
  <div class="line">
    Faint hours then for come to air or
  </div>
  <div class="line">
    To jar bird hours begins?
  </div>
</div>
<div class="verse">
  <div class="line">
    Add last the grease inside
  </div>
  <div class="line">
    Measure out on to a knife the
  </div>
  <div class="line">
    I over them the whole of have and
  </div>
  <div class="line">
    The instant it we meat
  </div>
</div>
<div class="verse">
  <div class="line">
    A sharp and again to lay
  </div>
  <div class="line">
    The parent to retards
  </div>
  <div class="line">
    Or used is best experiments
  </div>
  <div class="line">
    Or first in a thick during?
  </div>
</div>
