<h2>
  3. Rest
  <div class="source">
    Stephen Hawking, <i>A Brief History of Time</i> (1988)
  </div>
</h2>
<div class="verse">
  <div class="line">
    For us to lie unwary
  </div>
  <div class="line">
    A mountain in my mind of
  </div>
  <div class="line">
    More my our means that us each
  </div>
  <div class="line">
    More seized and then
  </div>
  <div class="line">
    Would have searched find
  </div>
</div>
<div class="verse">
  <div class="line">
    And one horizon blocks
  </div>
  <div class="line">
    Waves then these trip to grand is
  </div>
  <div class="line">
    That one conjecture quantities
  </div>
  <div class="line">
    As the geodesic rays
  </div>
</div>
<div class="verse">
  <div class="line">
    Nor this to feet might pace
  </div>
  <div class="line">
    Under from the west
  </div>
  <div class="line">
    Protons and are many absolute
  </div>
  <div class="line">
    One are into rest
  </div>
</div>
<div class="verse">
  <div class="line">
    Wonder at the goal
  </div>
  <div class="line">
    Except their intervene
  </div>
  <div class="line">
    Change our is an for come heavier
  </div>
  <div class="line">
    To chapter caused against?
  </div>
</div>
<div class="verse">
  <div class="line">
    At last the great inside
  </div>
  <div class="line">
    Measure out onto my feed
  </div>
  <div class="line">
    By are for them the whole of have ends
  </div>
  <div class="line">
    The instant that we made
  </div>
</div>
<div class="verse">
  <div class="line">
    They charge and yet to lay
  </div>
  <div class="line">
    They barrier should to we charge
  </div>
  <div class="line">
    Or was this gas experiment
  </div>
  <div class="line">
    Reversed in favor during?
  </div>
</div>
