<h2>
  5. Shout
  <div class="source">
    <i>Concise Oxford English Dictionary</i>, "100 Most Common English Words" (2004)
  </div>
</h2>
<div class="verse">
  <div class="line">
    Our us will an we year its
  </div>
  <div class="line">
    An now into in my my us
  </div>
  <div class="line">
    Or my our and so then us see
  </div>
  <div class="line">
    Or see use an then
  </div>
  <div class="line">
    But as or time
  </div>
</div>
<div class="verse">
  <div class="line">
    And my our our as into want
  </div>
  <div class="line">
    Which then these to can her as
  </div>
  <div class="line">
    Of on can she after want to
  </div>
  <div class="line">
    As any she out take way as
  </div>
</div>
<div class="verse">
  <div class="line">
    Your this to she my can these
  </div>
  <div class="line">
    If and of from the want
  </div>
  <div class="line">
    But as an on any so good its
  </div>
  <div class="line">
    One our into or out
  </div>
</div>
<div class="verse">
  <div class="line">
    What or how because
  </div>
  <div class="line">
    Its at there into he
  </div>
  <div class="line">
    Think out its can for come have year
  </div>
  <div class="line">
    Two just or as the get?
  </div>
</div>
<div class="verse">
  <div class="line">
    At not look or use an so like
  </div>
  <div class="line">
    By she out on two my the
  </div>
  <div class="line">
    Our for them because have and
  </div>
  <div class="line">
    The and as we make
  </div>
</div>
<div class="verse">
  <div class="line">
    They two our and get two a
  </div>
  <div class="line">
    They our she two we day our its
  </div>
  <div class="line">
    Or use just at see our and
  </div>
  <div class="line">
    Or first in think your a?
  </div>
</div>
