<h2>
  6. Die
  <div class="source">
    <i>Bulletin of Yale University</i>, "Obituary Record of Yale Graduates" (1928)
</h2>
<div class="verse">
  <div class="line">
    Charge to law m where he
  </div>
  <div class="line">
    The mountain in wire mine at
  </div>
  <div class="line">
    More mountain stock then as siege
  </div>
  <div class="line">
    More cities and then
  </div>
  <div class="line">
    A pastor finance
  </div>
</div>
<div class="verse">
  <div class="line">
    And mine arising to walk
  </div>
  <div class="line">
    School was then gave a trip to grandson
  </div>
  <div class="line">
    Of and in chapters on duty
  </div>
  <div class="line">
    As a geology grain since
  </div>
</div>
<div class="verse">
  <div class="line">
    Nor this defeated wife and a sketch
  </div>
  <div class="line">
    Defender from the west
  </div>
  <div class="line">
    But was an artillery saloon
  </div>
  <div class="line">
    Its one are interest
  </div>
</div>
<div class="verse">
  <div class="line">
    Was married at the golf
  </div>
  <div class="line">
    Except there injured eighteen
  </div>
  <div class="line">
    Came to hours and for company entered
  </div>
  <div class="line">
    Church occurred at against?
  </div>
</div>
<div class="verse">
  <div class="line">
    At last the grades since lived
  </div>
  <div class="line">
    Shot on to life he
  </div>
  <div class="line">
    I offered him that whole of have and
  </div>
  <div class="line">
    The and student at which made
  </div>
</div>
<div class="verse">
  <div class="line">
    The charge and again to lay
  </div>
  <div class="line">
    The parish duly charge
  </div>
  <div class="line">
    Wars his death experiments
  </div>
  <div class="line">
    For first in securing?
  </div>
</div>
